<fieldset class="design">

    <div class="design__shrink">
        <h3>Diseña</h3><span>></span>
    </div>

    <div class="design__expand">
        Colores

        <div class="colors__wrapper">

            <label class="label" for="palette1">
                <input type="radio" name="colors" id="palette1">
                <ul class="palette__wrapper">
                    <li class="color"></li>
                    <li class="color"></li>
                    <li class="color"></li>
                </ul>
            </label>

            <label class="label" for="palette2">
                <input type="radio" name="colors" id="palette2">
                <ul class="palette__wrapper">
                    <li class="color"></li>
                    <li class="color"></li>
                    <li class="color"></li>
                </ul>
            </label>

            <label class="label" for="palette3">
                <input type="radio" name="colors" id="palette3">
                <ul class="palette__wrapper">
                    <li class="color"></li>
                    <li class="color"></li>
                    <li class="color"></li>
                </ul>
            </label>
        </div>

    </div>


</fieldset>