<fieldset class="fill">
  <div class="fieldset__button">
    <div class="fieldset__button--title">
      <i class="far fa-keyboard"></i>
      <h2>Rellena</h2>
    </div>
    <i class="fas fa-chevron-up"></i>
  </div>

  <div class="none js-fill fill__wrapper">
    <div class="fill__contact">
      <label class="fill__text" for="fill__contact-name">
        Nombre completo
      </label>
      <input class="fill__contact-name" type="text" id="fullname" name="fullname" placeholder="Ej: Sally Jill" />
    </div>
    <div class="fill__contact">
      <label class="fill__text" for="fill__contact-role"> Puesto </label>
      <input class="fill__contact-role" type="text" id="role" name="role" placeholder="Ej: Front- end unicorn" />
    </div>
    <div class="fill__contact">
      <label class="fill__text" for="fill__contact-image">
        Imagen del perfil
      </label>

      <input class="fill__contact-image" type="file" id="image" name="image" />
    </div>

    <div class="fill__contact">
      <label class="fill__text" for="fill__contact-email"> Email </label>
      <input class="fill__contact-email" type="email" id="email" name="email" placeholder="Ej: sally-hill@gmail.com" />
    </div>
    <div class="fill__contact">
      <label class="fill__text" for="fill__contact-phone"> Teléfono </label>
      <input class="fill__contact-phone" type="phone" id="phone" name="phone" placeholder="Ej: 555-55-55-55" />
    </div>
    <div class="fill__contact">
      <label class="fill__text" for="fill__contact-linkedin"> Linkedin </label>
      <input class="fill__contact-linkedin" type="url" id="linkedin" name="linkedin"
        placeholder="Ej: linkedin.com/salli.hill" />
    </div>
    <div class="fill__contact">
      <label class="fill__text" for="fill__contact-github"> Github </label>
      <input class="fill__contact-github" type="url" id="github" name="github" placeholder="Ej: @sally-hill" />
    </div>

  </div>
</fieldset>