<fieldset class="design">
    <h3>Diseña</h3>

    <div class="colors__wrapper">
        Colores


        <label for="palette1">
            <input type="radio" name="colors" id="palette1">
            <ul class="palette_wrapper">
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul>
        </label>

        <label for="palette2">
            <input type="radio" name="colors" id="palette2">
            <ul class="palette_wrapper">
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul>
        </label>

        <label for="palette3">
            <input type="radio" name="colors" id="palette3">
            <ul class="palette_wrapper">
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul>
        </label>

    </div>

</fieldset>