<fieldset class="share">
  <div class="fieldset__button js-share">
    <div class="fieldset__button--title">
      <i class="fas fa-share-alt"></i>
      <h2>Comparte</h2>
    </div>
    <i class="fas fa-chevron-down fa-chevron-up"></i>
  </div>

  <div class="js-formcontainer-share">
    <div class="share__expand">
      <button class="share__button" type="submit">
        <i class="far fa-address-card">&nbsp;&nbsp;</i>Crear tarjeta
      </button>
      <div class="card--created">
        <h3>La tarjeta ha sido creada:</h3>
        <small><a href="">enlace</a></small>
        <button class="share__button--twitter">Compartir en Twitter</button>
      </div>
    </div>
  </div>
</fieldset>
