<main class="main">
  <section class="main__logoContainer">
    <img src="" alt="logo" class="main__logo" />
    <div class="main__x">
      <h2 class="main__title">Crea tu tarjeta de visita</h2>
      <p class="main__claim">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      </p>
    </div>
  </section>
  <section class="main__picturesContainer">
    <div class="main__pictures">
      <div class="far fa-object-ungroup main__icon"></div>
      <p>Diseña</p>
    </div>
    <div class="main__pictures">
      <div class="far fa-keyboard main__icon"></div>
      <p>Rellena</p>
    </div>
    <div class="main__pictures main__pictureShare">
      <div class="fas fa-share-alt main__icon"></div>
      <p>Comparte</p>
    </div>
  </section>
  <nav class="main__buttonContainer" title="menú de aplicación">
    <a href="" title="comenzar a usar aplicación" class="main__button"
      >comenzar</a
    >
  </nav>
</main>
