<section class="container-profile">
  <button class="container-profile__resetbutton">
    <i class="far fa-trash-alt"></i>
    <h3 class="container-profile__resetbutton__text">reset</h3>
  </button>
  <div class="container-profile__containercard">
    <h2 class="container-profile__containercard__name">Nombre Apellido</h2>
    <h3 class="container-profile__containercard__profesion">
      Front-end developer
    </h3>
    <img
      src="./assets/images/foto-lucia.jpg"
      alt="Picture profile"
      class="container-profile__containercard__img"
    />
    RRSS
  </div>
</section>
