.footer {
  border-top: 1px solid $white-two;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 1rem;

  padding: 1rem;
  position: absolute;
  width: 100%;

  &__copy {
    color: $brownish-grey;
    opacity: 0.5;
    font-size: 14px;
  }

  &__logoImg {
    width: 103px;
  }

  @media (min-width: 768px) {
    &__container {
      min-height: calc(8vh - 1px);
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-right: 50px;
      margin-left: 50px;
    }
  }

  @media (max-height: 500px) and (orientation: landscape) {
    &__container {
      min-height: calc(25vh - 1px);
    }
  }
}
