.footer {
  border-top: 1px solid $white-two;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15vh;
  }

  &__copy {
    color: $brownish-grey;
    opacity: 0.5;
    font-size: 14px;
    line-height: 20px;
  }

  &__logo {
    margin-top: 12px;
  }

  &__logoImg {
    height: 40px;
    width: 103px;
  }

  @media (min-width: 768px) {
    &__container {
      height: 7vh;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-right: 50px;
      margin-left: 50px;
    }
  }
}
