.fill {
  max-width: 400px;
  width: 320px;
  height: 668px;
  //   margin: 457px 0 0;
  //   padding: 27px 19px 30px 20px;
  padding: 1rem;
  display: flex;
  flex-flow: column wrap;
  gap: 22.5px;

  &__title {
    font-family: $fontopensans;
    font-size: 18px;
    color: $gunmetal;
    text-transform: uppercase;
  }

  &__text {
    font-size: 14px;
    font-family: $fontopensans;
    color: #114e4e;
  }

  &__contact {
    &-name,
    &-role,
    &-image,
    &-email,
    &-phone,
    &-linkedin,
    &-github {
      width: 281px;
      height: 30px;
      //   margin-top: 20px;
      border: solid 1px $hospital-green;
      display: flex;
    }
  }
}
