* {
  outline: thin solid rgba(255, 0, 0, 0.37);
}

.form {
  color: $gunmetal;
  padding: 1.5rem;

  .fieldset__title {
    border-bottom: thin solid #ccc;
    font-weight: 600;
    font-size: 18px;
    padding: 1rem 0;
    text-transform: uppercase;

    display: flex;
    gap: 0.5rem;
  }

  .design__expand {
    .colors__wrapper {
      .label,
      .palette__wrapper {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .color {
          background-color: aquamarine;
          height: 25px;
          width: 30px;
        }
      }
    }
  }

  .share {
    &__button {
      background-color: $dull-orange;
      border: none;
      border-radius: 0.5rem;
      color: white;
      font-size: 18px;
      text-transform: uppercase;

      padding: 0.6rem 2rem;
    }
  }
}
