.form {
  color: $gunmetal;
  @media (min-width: 768px) {
    & {
      width: calc(40% - 20px);
    }
  }

  fieldset {
    border-bottom: thin solid #ccc;
  }

  .fieldset__button {
    font-weight: 600;
    font-size: 18px;
    padding: 1rem 0;
    text-transform: uppercase;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    &--title {
      display: flex;
      flex-flow: row wrap;

      gap: 0.5rem;

      .fa-object-ungroup,
      .fa-keyboard,
      .fa-share-alt {
        color: $dull-orange;
      }
    }
  }

  .design__expand {
    padding: 1rem 0;

    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;

    .colors__wrapper {
      input {
        margin: 0 0.8rem;
      }

      .label,
      .palette__wrapper {
        display: flex;
        margin: 0.3rem 0;
        align-items: center;

        .color {
          height: 25px;
          width: 30px;
        }

        .palette1__color1 {
          background: $dark-green-blue;
        }
        .palette1__color2 {
          background: $dirty-blue;
        }
        .palette1__color3 {
          background: $hospital-green;
        }
        .palette2__color1 {
          background: $dried-blood;
        }
        .palette2__color2 {
          background: $rusty-red;
        }
        .palette2__color3 {
          background: $tomato;
        }
        .palette3__color1 {
          background: $faded-orange;
        }
        .palette3__color2 {
          background: $bfcdd-0-silver;
        }
        .palette3__color3 {
          background: $white;
        }
      }
    }
  }

  .share {
    &__button {
      background-color: $dull-orange;
      border: none;
      border-radius: 0.5rem;
      color: white;
      font-size: 18px;
      margin: 3rem 0;
      padding: 0.6rem 2rem;
      text-transform: uppercase;

      &--twitter {
        background-color: $azure;
        border: none;
        border-radius: 3px;
        color: white;
        padding: 0.3rem 1.5rem;
      }
    }

    &__expand,
    .card--created {
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      gap: 0.5rem;
    }
  }
}

.fill {
  //   max-width: 400px;
<<<<<<< HEAD
  height: 640px;

=======
  //height: 668px;
>>>>>>> playing-with-js
  //   margin: 457px 0 0;
  //   padding: 27px 19px 30px 20px;
  //   padding: 1rem;
  display: flex;
  flex-flow: column wrap;
  gap: 20px;

  &__text {
    font-size: 14px;
    font-family: $fontopensans;
    color: #114e4e;
  }

  &__contact {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    align-items: stretch;

    &-name,
    &-role,
    &-image,
    &-email,
    &-phone,
    &-linkedin,
    &-github {
      padding: 0.4rem;
      border: solid 1px $hospital-green;
    }
  }
  ::placeholder {
    color: $pinkish-grey;
    font-size: 14px;
    font-family: $fontopensans;
  }
}

.none {
  display: none;
}
.arrowPointer {
  transform: rotate(180deg);
}
.tooltip {
  position: absolute;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  padding: 5px;
  max-width: 200px;
}
.tooltipParagraph {
  text-align: center;
  color: black;
  line-height: 1.5em;
}
