.form {
  color: $gunmetal;

  .fieldset__title {
    border-bottom: thin solid #ccc;
    font-weight: 600;
    font-size: 18px;
    padding: 1rem 0;
    text-transform: uppercase;

    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    gap: 0.5rem;

    .fa-object-ungroup,
    .fa-keyboard,
    .fa-share-alt {
      color: $dull-orange;
    }
  }

  .design__expand {
    padding: 1rem 0;

    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;

    .colors__wrapper {
      input {
        margin: 0 0.8rem;
      }

      .label,
      .palette__wrapper {
        display: flex;
        margin: 0.3rem 0;

        .color {
          height: 25px;
          width: 30px;
        }

        .palette1__color1 {
          background: $dark-green-blue;
        }
        .palette1__color2 {
          background: $dirty-blue;
        }
        .palette1__color3 {
          background: $hospital-green;
        }
        .palette2__color1 {
          background: $dried-blood;
        }
        .palette2__color2 {
          background: $rusty-red;
        }
        .palette2__color3 {
          background: $tomato;
        }
        .palette3__color1 {
          background: $faded-orange;
        }
        .palette3__color2 {
          background: $bfcdd-0-silver;
        }
        .palette3__color3 {
          background: $white;
        }
      }
    }
  }

  .share {
    &__button {
      background-color: $dull-orange;
      border: none;
      border-radius: 0.5rem;
      color: white;
      font-size: 18px;
      margin: 1rem 0;
      padding: 0.6rem 2rem;
      text-transform: uppercase;
    }
  }
}

.fill {
  //   max-width: 400px;
  width: 320px;
  height: 668px;
  //   margin: 457px 0 0;
  //   padding: 27px 19px 30px 20px;
  //   padding: 1rem;
  display: flex;
  flex-flow: column wrap;
  gap: 20px;

  &__text {
    font-size: 14px;
    font-family: $fontopensans;
    color: #114e4e;
    line-height: 1.43;
  }

  &__contact {
    &-name,
    &-role,
    &-image,
    &-email,
    &-phone,
    &-linkedin,
    &-github {
      width: 281px;
      height: 30px;
      margin-top: 7px;
      border: solid 1px $hospital-green;
      display: flex;
    }
  }
  ::placeholder {
    color: $pinkish-grey;
    font-size: 14px;
    font-family: $fontopensans;
    padding: 3px 0 7px 9px;
  }
}
