.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  min-height: 85vh;
  background-color: $white-four;

  &__logoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
  }

  &__logo {
    margin-bottom: 30px;
  }

  &__titleContainer {
    text-align: center;
    line-height: normal;
    padding-top: 10px;
  }

  &__title {
    padding-bottom: 5px;
    font-family: $fontmerriweather;
    color: $dull-orange;
  }

  &__paragraph {
    font-size: 12.8px;
    color: $dark-green-blue;
    max-width: 270px;
  }

  &__picturesContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: solid 2px rgba(225, 115, 52, 0.21);
    border-radius: 4px;
    width: 268px;
    height: 73.8px;
  }

  &__pictures {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__icon {
    color: $dull-orange;
    font-size: 22.4px;
  }
  &__words {
    color: $gunmetal;
    font-size: 12.8px;
    margin-top: 5px;
  }
  &__buttonContainer {
    padding-top: 40px;
    padding-bottom: 30px;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 130px;
    border: solid 2px $dirty-blue;
    border-radius: 22.5px;
    background-color: $dirty-blue;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
  }

  @media (min-width: 768px) {
    & {
      min-height: 92vh;
      justify-content: space-between;
    }

    &__logoContainer {
      margin-top: 35vh;
    }

    &__picturesContainer {
      margin-bottom: auto;
    }
  }
  @media (max-height: 500px) and (orientation: landscape) {
    &__ {
      min-height: 75vh;
    }

    &__logoContainer {
      padding-top: 30px;
    }

    &__buttonContainer {
      padding-top: 35px;
      padding-bottom: 25px;
    }
  }
}
